<div class="container">
  <div class="nav-wrapper teal white-text row">
    <p class="left">Info de process</p>
    <ul class="right">
      <li>
        <a href="/salir" class="white-text">
          <i class="material-icons white-text">exit_to_app</i>
          Salir
        </a>
      </li>
    </ul>
  </div>
  
    <div class="row">
      <div class="col s12">
        <p class="titulo">Argumentos de entrada </p>
        <p class="dato">{{infoProcess.argumentosEntrada}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <p class="titulo">Sistema operativo </p>
        <p class="dato">{{infoProcess.so}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="titulo">Version de node </p>
        <p class="dato">{{infoProcess.versionNode}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="titulo">Uso de memoria </p>
        <p class="dato">{{infoProcess.usoMemoria}} bytes</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="titulo">Path de ejecucion</p>
        <p class="dato">{{infoProcess.pathEjecucion}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="titulo">Id del proceso </p>
        <p class="dato">{{infoProcess.processId}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="titulo">Directorio actual </p>
        <p class="dato">{{infoProcess.directorioActual}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="titulo">Cantidades de procesadores </p>
        <p class="dato">{{infoProcess.procesadores}}</p>
      </div>
    </div>

  

</div>